# Sistema operativo
Thumbs.db
Desktop.ini

# Editores
.vscode/
.idea/

# Dependencias y compilados futuros
node_modules/
.npm-cache/
.astro/
dist/
build/
out/

# Archivos temporales
*.log
*.tmp
*.bak
