---
import { site } from "../data/site.js";
---

<footer class="pie">
  <div class="pie-contenido">
    <p>
      <span id="anio"></span>
      Chilete DevPath - aprendizaje real, criterio técnico y evolución profesional.
    </p>
    <span class="version-marca">{site.version}</span>
  </div>
</footer>
